.header {
  max-width: 2560px;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#slug-logo {
  max-width: 400px; /* Máximo da largura da imagem */
  width: 100%;
  max-height: 280px; /* Máximo da altura da imagem */
  min-height: auto; /* Mínimo da altura, por padrão “auto” */
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
}

#header-inf {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#table {
  width: 180vh;
  align-items: center;
}

#image {
  width: 100px;
}
