@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@1,300&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Ysabeau:wght@100&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dosis&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#slug-logo {
  max-width: 540px; /* Máximo da largura da imagem */
  width: 100%;
  max-height: 280px; /* Máximo da altura da imagem */
  min-height: auto; /* Mínimo da altura, por padrão “auto” */
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
}

#main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5vh;
  flex-wrap: wrap;
}

#product-image {
  width: 10vh;
}

#product-table {
  width: 120vh;
  border-collapse: collapse;
  background-color: transparent;
  border: 1px solid black;
}

#titles {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

#image {
  width: 10vh;
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  text-align: center;
}

#sub-titles {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  background-color: rgb(69, 66, 66);
  border: 1px solid rgb(255, 255, 255);
  color: #ffffff;
  font-family: "Bruno Ace SC", cursive, Arial, sans-serif;
  font-size: 15px;
}

#sub-titles-2 {
  padding: 0.75rem;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
  border: 1px solid black;
  text-align: center;
  font-family: "Bruno Ace SC", cursive, Arial, sans-serif;
  font-size: 15px;
}

.quantity-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity-input input {
  text-align: center;
  width: 40px;
  font-size: 20px;
}

.quantity-input button {
  background-color: #fff;
  border: none;
  color: #000;
  font-size: 20px;
  cursor: pointer;
  padding: 5px 10px;
}

.quantity-input button:focus {
  outline: none;
}

#quantity {
  text-align: center;
  padding: 0.75rem;
  vertical-align: middle;
  border: 0;
}

#lixeria {
  width: 3vh;
}

#sub-titles-3 {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #ffffff;
  background-color: rgb(69, 66, 66);
  height: 3vh;
  color: #ffffff;
  font-family: "Bruno Ace SC", cursive, Arial, sans-serif;
}
